.lightGrey {
    color: #9F9F9F;
    font-size: 20px;
    font-weight: bold;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;;
}

.bold {
    font-weight: bold;
}

.medium {
    font-size: 16px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

/**********  MAIN PAGE  *************/

.orangeButton {
    background: #fa730e;
    padding: 0.9vw 0.9vw;;
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
    border-radius: 5px;
    font-size: 15px;
    /* box-shadow: 2px 2px 2px grey; */
    display: inline-block;
}

.orangeButton:hover {
    background: #2763ac;
    /*box-shadow: 2px 2px 2px grey;*/
    cursor: pointer;

}

.orangeButton:active {
    position: relative;
    /*box-shadow: 2px 2px 2px grey;*/
    top: 2px;
}

/*BEGIN PODDERJKA SAITA 24 CHASA*/
.podderjkaHeader {
    margin-bottom: 5vw;
}

.podderjkaHeader p {
    text-indent: 2vw;
    font-size: 1.2vw;
}

.podderjkaHeaderLeft {
    vertical-align: middle;
    width: 65vw;
}

.podderjkaHeaderRight {
    width: 27vw;
    text-align: center;
    vertical-align: middle;
}

.podderjkaHeaderRight img {
    width: 13.7vw;
}

/*END PODDERJKA SAITA 24 CHASA*/

/*BEGIN TARIFY I CENY*/
.tarif {
    margin-top: 6vw;
}

.tarifTable {
    border-collapse: collapse;
    margin-top: 2vw;
}

.tarifTable th {
    font-size: 1.15vw;
    font-weight: bold;
    padding: 1.3vw 0;
    width: 14vw;
    line-height: 1.5vw;
}

.empty {

    width: 2vw !important;
}

.firstCell {
    width: 27vw !important;
    text-align: left;
    padding-left: 2vw !important;
}

.tarifTable td {
    text-align: center;
    padding: 1vw 0;
    border-bottom: 1px solid lightgrey;
    font-size: 1.2vw;
}

.bigText {
    font-size: 1.5vw !important;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5vw;
}

.tdleft {
    text-align: left !important;
}

.tdCorp {
    text-align: left !important;
    padding-left: 0.5vw !important;
    width: 11vw !important;
}

.tableGrey {
    background-color: #ececec;
}

.grey {
    background-color: #e6e6e6 !important;
}

.iconOk {
    width: 2.2vw;
}

.iconNo {
    width: 2.5vw;
}

/*END TARIFY I CENY*/

/*BEGIN ABOUT US*/

.aboutUs {
    margin-top: 7vw;
}

/********* BEGIN NAM DOVERAUT *********/

.namDoverayut {
    margin-top: 7vw;
}

.home_folio_box {
    float: none !important;
    height: 10%;
}

.home_folio_list {
    width: 150px !important;
    height: 150px !important;
    display: inline-block;
    margin-right: 9.2%;
}

.home_folio_list td {
    width: 150px !important;
    height: 150px !important;
}

.home_folio_box .human_id td span {

    width: 150px !important;
    padding: 0 0 !important;
}

.preview_picture {
    width: 150px;
    height: 150px;
}

/********* END NAM DOVERAUT *********/

/*BEGIN FORMA ZAYAVKI*/

.zayavka {
    margin-top: 7%;
}

.zayavkaForm {
    text-align: center;
}

.zayavkaForm ul {
    list-style-type: none;
    text-align: left;
    vertical-align: top;
    margin: 0 7% 0 0;
}

.zayavkaForm li {
    margin-top: 16px;
    vertical-align: top;
}

.zayavkaForm input, .zayavkaForm textarea, .zayavkaForm select, .inputWhiteBg {
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    width: 320px;
    background-color: white;
}

.zayavkaForm select {
    width: 330px; /*width+ padding-left */
}

.file_upload {
    margin-top: 1em;
    position: relative;
    overflow: hidden;
    font-size: 1em; /* example */
    height: 2em; /* example */
    line-height: 2em; /* the same as height */
    text-align: center;
}

.file_upload > button {
    width: 14em;
    height: 2em;
    font-size: 16px;
}

.file_upload > div {
    padding-left: 1em /* example */
}

.file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em; /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer;
}

.inputFileFormats {
    margin: 20px 0 40px 10px;
}

.labelForInput {
    display: block;
    font-family: Open-Sans, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.orangeButtonWhiteBorder {
    margin-top: 30px;
    padding: 16px !important;
    background-color: #ef8b00 !important;
    color: white;
    font-weight: bold;
    width: initial !important;
    border: 2px solid white !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 3px #c4c4c4;
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.orangeButtonWhiteBorder:hover {
    background-color: orange !important;
}

.orangeButtonWhiteBorder:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 0 #c4c4c4;
}

/*END FORMA ZAYAVKI*/

/******** BEGIN  SERVICES ****/

.services {
    margin-top: 6vw;
}

.services ul {

    margin: 0;
    padding: 0;
}

.services li {
    display: inline-block;
    vertical-align: top;
    width: 31.8%;
    margin: 0 1% 15px 0;
}

.services span {
    display: inline-block;
    margin-top: 10px;
}

.whiteDiv {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 5px 10px 10px;
    margin-bottom: 10px;
}

.iconLink {
    height: 40px;
}

.iconLink2 {
    position: relative;
    top: 4px;
}

.iconServiceLink1 {
    position: relative;
    top: -10px;
    left: 10px;
}

.iconServiceLink2 {
    position: relative;
    left: 10px;
}

.iconServiceLink3 {
    position: relative;
    top: -5px;
    left: 10px;
}

/********* END SERVICES ***********/

/********* BEGIN OUR BLOG *********/

.blog ul {
    padding: 0;
}

.blog li {
    vertical-align: top;
    display: inline-block;
    width: 47%;
    margin-right: 15px;
    margin-bottom: 30px;
}

.quote {
    vertical-align: top;
}

.blogHeader {
    font: bold 16px "PT Sans Caption", "PT Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 90%;
}

.newsImage {
    width: 100%;
    margin: 15px 0;
}

.blogWhite {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 15px;
    margin-bottom: 15px;
}

/********* END OUR BLOG *********/

/******** BEGIN FOOTER **********/

footer {
    margin-top: 6vw;
}

footer ul {
    vertical-align: top;
    padding: 0;
}

footer li {
    vertical-align: top;
    width: 32%;
    font-size: 96%;
}

footer span {
    display: inline-block;
}

footer h3 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #9e9e9e;
    font-size: 20px !important;
}

.top {
    vertical-align: top;
}

footer {
    padding-top: 20px;
    margin-bottom: 100px;
    border-top: 1px solid lightgrey;
}

.footerIcon {
    vertical-align: top;
    width: 43px;
    height: 43px;
    border-radius: 5px;
    background-color: #e65500;
    margin: 0 10px;
}

.footerContactIcons {
    color: #fff !important;
    display: table-cell;
    font: bold 18px Verdana, Geneva, sans-serif !important;
    height: 43px;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    width: 43px;
}

.hideOnDesktop {
    display: none;
}

/****** MOBILE 768 *******/

@media (max-width: 768px) {

    .wrap_box {
        display: block;
        margin: 0;
    }

    /*BEGIN MOBILE PODDERJKA SAITA 24 CHASA*/
    .podderjka {
        width: 100%;
        text-align: center;
    }

    .podderjkaHeader {
        margin-bottom: 5vw;
    }

    .podderjkaHeader h1 {
        font-size: 2em !important;
        text-align: center;
    }

    .mobileImgCenter {
        width: 20vw !important;
    }

    .podderjkaHeader p {
        text-indent: 2vw;
        font-size: 1em;
        text-align: justify;
    }

    .podderjkaHeaderLeft {
        display: block;
        width: 100%;
        text-align: center;
    }

    .podderjkaHeaderRight {
        display: none;
    }

    /*END MOBILE PODDERJKA SAITA 24 CHASA*/
    /*BEGIN TARIFY I CENY*/
    .orangeButton {
        background: #fa730e;
        padding: 0.1vw 0.9vw;;
        color: white !important;
        font-weight: bold;
        text-decoration: none !important;
        border-radius: 5px;
        font-size: 2vw;
        /* box-shadow: 2px 2px 2px grey; */
        display: inline-block;
    }

    .orangeButton:hover {
        background: #2763ac;
        /*box-shadow: 2px 2px 2px grey;*/
        cursor: pointer;

    }

    .orangeButton:active {
        position: relative;
        /*box-shadow: 2px 2px 2px grey;*/
        top: 2px;
    }

    /*END TARIFY I CENY*/
    /*BEGIN MOBILE NAM DOVERAYUT*/
    .namDoverayut {
        text-align: center !important;
    }

    .home_folio_box {
        overflow: hidden;
        display: block;
        float: none !important;
        height: inherit;
        width: 100%;
    }
}

.home_folio_list {
    float: none !important;
}

/* END MOBILE NAM DOVERAUT*/

/*BEGIN ZAYAVKA FORM*/
.zayavkaForm ul {
    padding: 0;
}

.zayavkaForm input, .zayavkaForm textarea, .zayavkaForm select, .inputWhiteBg {
    width: 100%;
}

.zayavkaForm select {
    width: 88%; /*width+ padding-left */
}

/*END ZAYAVKA FORM*/

/* BEGIN MOBILE SERVICES */
.services li {
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin: 0 0 10% 0;
}

.services span {
    margin-top: 1%;
    font-size: 100%;
    line-height: 100%;
    text-align: justify;
}

/* END MOBILE SERVICES */

.orangeButton {
    padding: 10px 10px;
    font-size: 14px;
}

footer li {
    width: 100%;
}

.hideOnDesktop {
    display: block;
}

.hideOnMobile {
    display: none;
}

}