.lightGrey {
    color: #9F9F9F;
    font-size: 20px;
    font-weight: bold;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;;
}

.bold {
    font-weight: bold;
}

.medium {
    font-size: 16px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

/**********  SEO PAGE  *************/

/********** BEGIN CHTO DAST PRODVIJENIE HEADER  *************/
.prodvijenieHeader {
    margin-bottom: 5%;
}

.prodvijenieHeader p {
    text-indent: 20px;
    font-size: 120%;
}

/***** END CHTO DAST PRODVIJENIE HEADER ********/

/*BEGIN CHTO DAST PRODVIJENIE LIST*/
.chtoDastProdvijenie ul {
    margin: 0;
    padding: 0;
}

.prodvijenie2col ul {
    display: table;
}

.prodvijenie2col li {
    display: table-cell;
    vertical-align: middle;

}

.chtoDastProvijenieList li {
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    width: 100%;
    display: block;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.chtoDastProvijenieList img {
    vertical-align: middle;
}

.chtoDastProvijenieList h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 120% !important;
    width: 88%;
    vertical-align: middle;
    margin: 0 0 0 2% !important;
}

.chtoDastProvijenieListElementHeader {
    height: 2.5em;
    margin-bottom: 1%;
}

.listLeftLi {
    width: 55%;
}

.listRightLi {
    width: 42%;
}

.notebook {
    width: 83%;
    margin-left: 13%;
}

/*END CHTO DAST PRODVIJENIE*/

/*BEGIN USPESHNIE POZICII NASHIH KLIENTOV*/
.uspeshnyePozicii {
    margin-top: 6%;
}

.uspeshnyePoziciiTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.seoTableBlock {
    display: inline-block;
    width: 45%;
}

.seoTableBlockLeft {
    margin-right: 5%;
}

.uspeshnyePoziciiTable tr {
    height: 46px;
    border-bottom: 1px solid lightgrey;
}

.noBorder {
    border-bottom: none !important;
}

.seoFirstRow img {
    vertical-align: middle;
}

.seoFirstRow {
    font-size: 111%;
}

.grey {
    background-color: #ececec;
    margin-left: 10%;
}

.grey span {
    margin-left: 2%;

}

.pink {
    background-color: #e6e6e6 !important;
}

.textBig {
    font-size: 120%;
    font-weight: bold;
}

.leftCol {
    text-align: left;
    font-size: 120%;
}

.rightCol {
    text-align: center;
    background-color: #ececec;
    font-size: 125%;
    font-weight: bold;
    width: 38%;
}

/*END USPESHNIE POZICII NASHIH KLIENTOV*/

/*BEGIN TARIFY I CENY*/

.tarif {
    margin-top: 6%;
}

.tarif ul {
    margin: 0;
    padding: 0;
}

.tarif li {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin: 0 1% 15px 0;
}

.tarif span {
    display: inline-block;
    margin-top: 10px;
}

.iconTarifLink2 {
    display: inline-block;
    position: relative;
    width: 80%;
    top: -25%;
    left: 3%;
}

.iconServices {
    vertical-align: top;
}

.iconTarifLink3 {
    display: inline-block;
    position: relative;
    width: 80%;
    top: -17%;
    left: 3%;
}

.tarifPrice {
    display: table;
    margin: 3% auto 1% auto;
}

.tarifPrice span{
    display: table-cell;
    vertical-align: middle;
}

.bigText {
    font-weight: bold;
    font-size: 120%;
}

.orangeButton {
    background: #fa730e;
    padding: 14px 14px;
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
    border-radius: 5px;
    font-size: 15px;
    /* box-shadow: 2px 2px 2px grey; */
    display: inline-block;
}

.orangeButton:hover {
    background: #2763ac;
    /*box-shadow: 2px 2px 2px grey;*/
    cursor: pointer;

}

.orangeButton:active {
    position: relative;
    /*box-shadow: 2px 2px 2px grey;*/
    top: 2px;
}

/*END TARIF I CENY*/

/******** BEGIN  SERVICES ****/

.services ul {
    margin: 0;
    padding: 0;
}

.services li {
    display: inline-block;
    vertical-align: top;
    width: 31.8%;
    margin: 0 1% 15px 0;
}

.services span {
    display: inline-block;
    margin-top: 10px;
}

.whiteDiv {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 5px 10px 10px;
    margin-bottom: 10px;
}

.iconLink {
    height: 40px;
}

.iconLink2 {
    position: relative;
    top: 4px;
}

.iconServiceLink1 {
    position: relative;
    top: 10%;
    left: 3%;
}

.iconServiceLink2 {
    position: relative;
    left: 10px;
}

.iconServiceLink3 {
    position: relative;
    top: 9%;
    left: 3%;
}

/********* END SERVICES ***********/

/********* BEGIN NAM DOVERAUT *********/

.home_folio_box {
    text-align: center;
    height: 10%;
}

.home_folio_list {
    width: 150px !important;
    height: 150px !important;
    display: inline-block;
    margin-right: 9.2%;
}

.home_folio_list td {
    width: 150px !important;
    height: 150px !important;
}

.home_folio_box .human_id td span {

    width: 150px !important;
    padding: 0 0 !important;
}

.preview_picture {
    width: 150px;
    height: 150px;
}

/********* END NAM DOVERAUT *********/

/********* BEGIN OUR BLOG *********/

.blog ul {
    padding: 0;
}

.blog li {
    vertical-align: top;
    display: inline-block;
    width: 47%;
    margin-right: 15px;
    margin-bottom: 30px;
}

.quote {
    vertical-align: top;
}

.blogHeader {
    font: bold 16px "PT Sans Caption", "PT Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 90%;
}

.newsImage {
    width: 100%;
    margin: 15px 0;
}

.blogWhite {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 15px;
    margin-bottom: 15px;
}

/********* END OUR BLOG *********/

/******** BEGIN FOOTER **********/

footer ul {
    vertical-align: top;
    padding: 0;
}

footer li {
    vertical-align: top;
    width: 32%;
    font-size: 96%;
}

footer span {
    display: inline-block;
}

footer h3 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #9e9e9e;
    font-size: 20px !important;
}

.top {
    vertical-align: top;
}

footer {
    padding-top: 20px;
    margin-bottom: 100px;
    border-top: 1px solid lightgrey;
}

.footerIcon {
    vertical-align: top;
    width: 43px;
    height: 43px;
    border-radius: 5px;
    background-color: #e65500;
    margin: 0 10px;
}

.footerContactIcons {
    color: #fff !important;
    display: table-cell;
    font: bold 18px Verdana, Geneva, sans-serif !important;
    height: 43px;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    width: 43px;
}

/****** MOBILE 768 *******/

@media (max-width: 768px) {

    /**** BEGIN MOBILE PORTFOLIO  *****/
    .mainPagePortfolio ul {
        vertical-align: top;
        list-style: none;
        margin-bottom: 5px;
        padding: 0;
    }

    .mainPagePortfolio li {
        width: 38%;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        list-style: none;
        margin: 0 20px 20px 20px;
    }

    /* END MOBILE PORTFOLIO */
    /* BEGIN MOBILE SERVICES */
    .services li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0 0 10% 0;
    }

    .services span {
        margin-top: 1%;
        font-size: 119%;
        line-height: 180%;
        text-align: justify;
    }

    /* END MOBILE SERVICES */
    /*BEGIN MOBILE NAM DOVERAYUT*/
    /*BEGIN MOBILE BLOG*/
    .blog li {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    /*END MOBILE BLOG*/

}

@media (max-width: 930px) {
    .iconServiceLink1 {
        font-size: 90%;
    }

    .iconServiceLink2 {
        font-size: 90%;
    }

    .iconServiceLink3 {
        font-size: 90%;
    }

}

/*HIDE LAST ELEMENT FROM NAM DOVERAYUT*/
@media (max-width: 1023px) {
    .hideOnMobile:last-child {
        display: none;
    }
}